
<div style="text-align: center">
	<h1>Welcome to {{ title }}!</h1>
	<div class="column" [dragula]='"first-bag"'>
		<div class="widget">
			<app-weather></app-weather>
		</div>
	</div>
	<div class="column" [dragula]='"first-bag"'>
		<div class="widget half">
			<app-clock></app-clock>
		</div>
		<div class="widget newline">
			<app-ip-camera></app-ip-camera>
		</div>
	</div>
	<div class="column" [dragula]='"first-bag"'>
		<div class="widget double">
			<mat-toolbar color="primary"> <span class="center">CBC
				Calgary news</span> <span class="pointer-cursor"><mat-icon
					(click)="refreshFeed()">refresh</mat-icon></span> </mat-toolbar>
			<app-feed-card *ngFor="let feed of feeds | take: 4" [feed]="feed"></app-feed-card>
			<app-spinner *ngIf="!feeds.length"></app-spinner>
		</div>
	</div>
</div>
<div id="footer">
	<h2>Here are some links to help you start:</h2>
	<ul>
		<li>
			<h2>
				<a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour
					of Heroes</a>
			</h2>
		</li>
		<li>
			<h2>
				<a target="_blank" rel="noopener"
					href="https://github.com/angular/angular-cli/wiki">CLI
					Documentation</a>
			</h2>
		</li>
		<li>
			<h2>
				<a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular
					blog</a>
			</h2>
		</li>
	</ul>
</div>
